@import './mixins/input.scss';
.todo-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.title-input{
  @include input();
}

.description-input{
  @include input();
  resize: none;
}

.todo-btn{
  align-self: flex-end;
}